name: ixl_flutter_v2_adaptive
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.5.1
  go_router: ^17.0.1
  google_fonts: ^8.0.0
  flutter_svg: ^2.2.3
  gap: ^3.0.1
  flutter_animate: ^4.5.2
  flutter_math_fork: ^0.7.4
  supabase_flutter: ^2.12.0
  flutter_tts: ^4.2.5
  flutter_markdown: ^0.7.7+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
